@model IEnumerable<AGS.ServerAPI.tblQuestions>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Questions [to be reworked]</h2>

<div>
    <p>
        @Html.ActionLink(" Create new", "Create", null, new { @class = "btn btn-primary fa fa-plus" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strQuestionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strFlavourText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strSignificance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bIsDeleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strQuestionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strFlavourText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strSignificance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bIsDeleted)
        </td>
        <td class="col-md-3">
            @Html.ActionLink(" ", "Edit", new { id = item.iQuestionID }, new { @class = "btn fa fa-pencil" })
            @Html.ActionLink(" ", "Details", new { id = item.iQuestionID }, new { @class = "btn fa fa-book" })
            @Html.ActionLink(" ", "Delete", new { id = item.iQuestionID }, new { @class = "btn fa fa-trash" })
        </td>
    </tr>
    }
</table>

<hr />
<div>
    <a href="@Url.Action("Administration","Home")" class="btn btn-primary col-md-3">
        Return to Admin
    </a>
</div>