@model AGS.ServerAPI.tblTechExperience

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblTechExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iAddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iAddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtAddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtEditedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEditedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strTxQuestionL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strTxQuestionL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iTxQuestionM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iTxQuestionM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strTxQuestionR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strTxQuestionR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bIsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bIsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblExperienceTypes.strExperienceTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblExperienceTypes.strExperienceTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iTxID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
