@model IEnumerable<AGS.ServerAPI.tblTechExperience>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Technology Experience</h2>

<div>
    <p>
        @Html.ActionLink(" Create new", "Create", null, new { @class = "btn btn-primary fa fa-plus" })
    </p>
</div>
<table class="table">
    <tr>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.strQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strTxQuestionL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iTxQuestionM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strTxQuestionR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bIsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblExperienceTypes.strExperienceTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strTxQuestionL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iTxQuestionM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strTxQuestionR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bIsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblExperienceTypes.strExperienceTitle)
            </td>
            <td class="col-md-3">
                @Html.ActionLink(" ", "Edit", new { id = item.iTxID }, new { @class = "btn fa fa-pencil" })
                @Html.ActionLink(" ", "Details", new { id = item.iTxID }, new { @class = "btn fa fa-book" })
                @Html.ActionLink(" ", "Delete", new { id = item.iTxID }, new { @class = "btn fa fa-trash" })
            </td>
        </tr>
    }

</table>

<hr />
<div>
    <a href="@Url.Action("Administration","Home")" class="btn btn-primary col-md-3">
        Return to Admin
    </a>
</div>