
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .btn-primary {
        border: aliceblue;
        border-width: 3px;
        width: 80%
    }
    .hm {
        text-align: center;
    }
</style>

<div class="row hm">
    <div class="col-2"></div>
    <div class="card bg-primary col-8">
        <div class="row match-height">
            <div class="card-header col-12">
                <h1>Data Table Access</h1>
            </div>
        </div>
        <div class="row">
            <div class="card-body col-12 bg-white">
                <div class="row mb-1 hm">
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsUsers")">User Index</a>
                    <div class="col-2"></div>
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsClients")">Client Index</a>
                </div>
                <div class="row mb-1">
                    <a class="btn btn-primary col-5" href="@Url.Action(" Index", "cmsExperienceAnswers" )">Experience Answer Index</a>
                    <div class="col-2"></div>
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsResults")">Result Index</a>
                </div>
                <div class="row mb-1">
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsQuestions")">Question Index</a>
                    <div class="col-2"></div>
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsModules")">Module Index</a>
                </div>
                <div class="row mb-1">
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsReports")">Report Index</a>
                    <div class="col-2"></div>
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsTechExperiences")">Tech Experience Index</a>
                </div>
                <div class="row mb-1">
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsExperienceTypes")">Experience Type Index</a>
                    <div class="col-2"></div>
                    <a class="btn btn-primary col-5" href="@Url.Action("Index", "cmsUserExperiences")">User Experience Index</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
