
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <div>
        <table class="col-lg-12">
            <thead>
                <tr>
                    <th class="col-12">
                        <h1>
                            Data Table Access
                        </h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Client Index", "Index", "cmsClients", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Experience Answer Index", "Index", "cmsExperienceAnswers", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Experience Type Index", "Index", "cmsExperienceTypes", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Module Index", "Index", "cmsModules", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Question Index", "Index", "cmsQuestions", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Report Index", "Index", "cmsReports", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Result Index", "Index", "cmsResults", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("Tech Experience Index", "Index", "cmsTechExperiences", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("User Experience Index", "Index", "cmsUserExperiences", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-6">
                        @Html.ActionLink("User Index", "Index", "cmsUsers", null, new { @class = "btn btn-primary col-lg-6" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
