@model AGS.ServerAPI.tblExperienceAnswers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblExperienceAnswers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iAddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iAddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtAddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtEditedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEditedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strAnswers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strAnswers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bIsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bIsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblExperienceTypes.strExperienceTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblExperienceTypes.strExperienceTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iExperienceAnswerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
